<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://img1.theiconic.com.au/Ra60LbaLTR-dnwRtjUZXH_PsZ5I=/634x811/filters:quality(95):fill(ffffff)/http%3A%2F%2Fstatic.theiconic.com.au%2Fp%2Fcooper-st-3021-573383-1.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Cooper st</h3>
        <p class = "description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <div class = "clearfix">
            <div class ="price pull-left">$12</div>
           <a href="#" class="btn btn-success pull-right" role="button">Button</a>
         </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://assets.myntassets.com/w_480,q_90/assets/images/1320378/2016/5/13/11463127346379-Popnetic-White-Layered-Top-2821463127346029-1.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Popnetic</h3>
        <p class = "description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <div class = "clearfix">
            <div class ="price pull-left">$10</div>
           <a href="#" class="btn btn-success pull-right" role="button">Button</a>
         </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://assets.myntassets.com/w_480,q_90/assets/images/1049824/2015/10/28/11446033608646-Popnetic-Women-Tops-9541446033608248-1.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Roudster</h3>
        <p class = "description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          <div class = "clearfix">
            <div class ="price pull-left">$5</div>
           <a href="#" class="btn btn-success pull-right" role="button">Button</a>
         </div>
      </div>
    </div>
  </div>
</div>
